<div class="content-container">
  <div class="contents">



  <h1>Account Statement</h1>

  <h3> Your balance is $<%= @transactions.first.balance_after_transaction %> </h3>
  <%= link_to "Back to your account", user_path(current_user) %>
  <br>
  <br>
  <table class="table">
    <tr>
      <th>date</th>
      <th>transaction type</th>
      <th>transaction amount</th>
      <th>balance</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <% if transaction.amount < 0.0 %>
          <% transaction_type = "Withdrawal" %>
        <% else %>
          <% transaction_type = "Deposit" %>
        <% end%>
        <td><%=transaction.created_at %></td>
        <td><%= transaction_type %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.balance_after_transaction %></td>
      </tr>
    <% end %>

  </table>

  </div>
</div>
