<h1>New Transaction</h1>

<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @transaction do |form| %>
  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Back to Account", user_path(current_user) %>
